<% provide(:mode, 'management') %>
<% provide(:title, 'Dashboard') %>
<!-- provide somke token and then have the _header check for token to determine which navbar to show -->
<div class="container-fluid">
	<div class="row-fluid">

		
		<%= render 'layouts/sidebar' %>
		
		<div id="ajax" class="span8">
			<%= render :template => 'projects/index', :locals => { :projects => @projects } %>
		</div>

	</div>
</div>