<% provide(:title, 'Home') %>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://0.s3.envato.com/files/41177958/bootstrap_example/img/carousel/colorbg2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 data-animate="rollIn">OneByOne in Bootstrap</h1>
              <p class="text-info" data-animate="bounceInUp">Your favourite OneByOne Slider now is available in bootstrap as Carousel.<span class="label label-important">WoYa!</span></p>
              <a class="btn btn-large btn-primary" href="#" data-animate="bounceInLeft">Download today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://0.s3.envato.com/files/41177958/bootstrap_example/img/carousel/bluebg.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 data-animate="lightSpeedIn">Another headline.</h1>
              <p class="lead" data-animate="fadeInDown">Cras justo odio, dapibus ac facilisis in, Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <div class="info">
              	<a href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://0.s3.envato.com/files/41177958/bootstrap_example/img/carousel/colorbg3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 data-animate="wobble">Blah, blah, ...</h1>
              <p class="lead" data-animate="wobble">Cras justo odio, dapibus ac facilisis in, eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-inverse" href="#" data-animate="wobble">Browse gallery</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://0.s3.envato.com/files/41177958/bootstrap_example/img/carousel/colorbg1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 data-animate="swing">One more thing.</h1>
              <p class="lead" data-animate="swing">Cras justo odio, dapibus ac facilisis in, Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-success" href="#" data-animate="swing">Browse gallery</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://0.s3.envato.com/files/41177958/bootstrap_example/img/carousel/colorbg4.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Hello Title</h1>
              <p class="lead">Without the button here <span class="label label-success">LABEL</span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde a incidunt eaque dolores nam repellat saepe excepturi commodi aliquid debitis pariatur nisi quis tempora nesciunt sed sit nobis quibusdam ipsa.</p>
            </div>
          </div>
        </div>
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
<div class="container-main">
	<div class="featurette">
		<img class="featurette-image pull-right" src="http://www.wordans.ca/wvc-1358624700/wordansfiles/images/2013/1/19/176714/176714_340.jpg">
		<h2 class="featurette-heading">
			Dis ain't yo daddy's CMS.
			<span class="muted">Presenting Scratch CMS. Built from scratch.
		</h2>
		blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
	</div>
</div>
