<% provide(:title, 'Home') %>
<!-- Begin Carousel -->
  <div class="sliderContainer fullWidth clearfix">
    <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
      <div class="rsContent">
        <img class="rsImg" src="http://dimsemenov.com/plugins/royal-slider/img/full-width/1.jpg" alt="" />
        <div class="infoBlock infoBlockBottomLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
          <h4>This is an animated block, add any number of them to any type of slide</h4>
          <p>Put completely anything inside - text, images, inputs, links, buttons.</p>
        </div>
      </div>
      <div class="rsContent">
        <img class="rsImg" src="http://dimsemenov.com/plugins/royal-slider/img/full-width/2.jpg" alt="" />
         <div class="infoBlock  rsAbsoluteEl" style="color:#000;" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
          <h4>This is a static HTML block</h4>
          <p>It's always displayed and not animated by slider.</p>
        </div>
      </div>
      <div class="rsContent">
        <img class="rsImg" src="http://dimsemenov.com/plugins/royal-slider/img/full-width/3.jpg" alt="" />
        <div class="infoBlock rsABlock infoBlockBottomLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
          <h4>You can link to this slide by adding #3 to url.</h4>
          <p><a href="http://http://dimsemenov.comhttp://dimsemenov.com/plugins/royal-slider/gallery-with-deeplinking/">Learn more</a></p>
        </div>
      </div>
      <div class="rsContent">
        <img class="rsImg" src="http://dimsemenov.com/plugins/royal-slider/img/full-width/4.jpg" alt="" />
        <span class="photosBy rsAbsoluteEl" data-fade-effect="fa;se" data-move-offset="40" data-move-effect="bottom" data-speed="200">Photos by <a href="http://www.flickr.com/photos/gilderic/">Gilderic</a></span>
      </div>
    </div>
  </div>
<!-- End Carousel -->
<div class="container-main">
	<div class="featurette">
		<%= image_tag asset_path("ScratchCMS.png"), :class => "featurette-image pull-right", 'width' => '400dp', 'align' => 'top' %>
		<h2 class="featurette-heading">
			Websites are easy. Just build them from
		</h2>
		blah blah blah
						<br>
						<br>
						blah blah blah
						<br>
						<br>
						blah blah blah
	</div>
</div>