<% provide(:title, 'Home') %>
<div class="container-main">
	<div class="featurette">
		<img class="featurette-image pull-right" src="http://www.wordans.ca/wvc-1358624700/wordansfiles/images/2013/1/19/176714/176714_340.jpg">
		<h2 class="featurette-heading">
			Dis ain't yo daddy's CMS.
			<span class="muted">Presenting Scratch CMS. Built from scratch.</span>
		</h2>
	</div>
</div>