@import "bootstrap";

/* Copied and pasted from Jetstrap ^____^V */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
  background-image: none;
  background-color: #5a5a5a;
  }



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}z


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  vertical-align: top;
  padding-top: 70px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -10px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  top: 20px;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* miscellaneous */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}


/* Scratch CMS */

html,body  {
  height: 100%;
  // height: -o-calc(100% - 144px); /* opera */
  // height: -webkit-calc(100% - 144px); /* google, safari */
  // height: -moz-calc(100% - 144px); /* firefox */
  // height: calc(100% - 144px);
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.navbar-placeholder {
  padding-top: 50px;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 99%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.container-content h1 {
  text-align: left;
}

IMG.centeredimage {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

/* Public facing */

.container-main { /* this is for displaying main page; it's wider */
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

.container-content { /* this is for displaying project and blog pages; it's narrower */
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 230px;
}


/* Dashboard */

.navbar-placeholder {
  padding-top: 70px;
}

.management-wrapper {
  padding-bottom: 70px;
}

.dashboard-content {
  width: 500px;
}

.account-settings {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.page-list {
  width: 100%;
  border-top: 1px solid #e8e8e8;
}

.sub-page-list {
  width: 95%;
  border-top: 1px solid #e8e8e8;
}

.redactor_box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* dashboard footer */

footer {
  background-color: #EFEFEF;
  margin-top: 15px;
  padding-top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  /* no shadow with flat theme */
  // -moz-box-shadow: 0px -8px 8px rgba(90, 110, 128, 0.4);
  // -webkit-box-shadow: 0px -8px 8px rgba(90, 110, 128, 0.4);
  // box-shadow: 0px -8px 8px rgba(90, 110, 128, 0.4);

  color: #999;
}

small {
  float: left;
}

.footer table {
  width: 100%;
}

.footer .cell-left {
  text-align: left;
  width: 33%;
}

.footer .cell-center {
  text-align: center;
  width: 34%;
}

.footer .cell-right {
  text-align: right;
  width: 33%;
}


.footer table {
  width: 100%;
}

.footer .cell-left {
  text-align: left;
  width: 33%;
}

.footer .cell-center {
  text-align: center;
  width: 34%;
}

.footer .cell-right {
  text-align: right;
  width: 33%;
}

.copyright-text {
  text-align: right;
  font-size: 11px;
  color: #999;
}

/* Footer for home page
-------------------------------------------------- */
#footer {
    min-height: 80px;
    margin-top: 10px;
    background-color: #252528;
    color: #fff;
    padding-top: 35px;
}
#footer .footer_header {
    color: rgb(196, 196, 196);
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 0px;
    margin-left: 15px; 
}

/* recent posts */
#footer .recent_posts {
    margin-left: 0px;
}
#footer .recent_posts .post {
    margin-bottom: 0px;
    width: 93%;
}
#footer .recent_posts .post img {
    float: left;
    margin-right: 20px;
}
#footer .recent_posts .post .date {
    font-weight: bold;
    font-style: italic;
}
#footer .recent_posts .post .title {
    display: block;
    color: #b5b5b6;
    font-size: 14px;
}

/* testimonials */
#footer .testimonials .wrapper {
    margin: 0 auto;
    width: 82%;
}
#footer .testimonials .footer_header {
    margin-left: 30px;
}
#footer .testimonials .quote {
    color: rgb(191, 191, 192);
}
#footer .testimonials .quote span {
    font-size: 32px;
    font-style: italic;
    position: relative;
    top: 5px;
    font-family: Georgia !important;
    float: left;
    margin-right: 8px;
}
#footer .testimonials .author {
    margin-top: 40px;
}
#footer .testimonials .author img {
    float: left;
    margin-right: 15px;
    position: relative;
    top: -6px;
}
#footer .testimonials .name {
    font-size: 13px;
    font-weight: bold;
}
#footer .testimonials .info {
    font-style: italic;
    color: #ccc;
}

/* contact */
#footer .contact {
    text-align: right;
    margin-left: 35px;
}
#footer .contact .footer_header {
    text-align: left;
    margin-left: 35px;
}
#footer .contact input[type="text"],
#footer .contact textarea {
    border: none;
    background-color: #1f1f21;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-family: Lato !important;
    width: 80%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}
#footer .contact input[type="text"]:focus,
#footer .contact textarea:focus {
    border: none;
    box-shadow: none;
    background-color: #000;
}
#footer .contact input[type="text"]:-moz-placeholder,
#footer .contact textarea:-moz-placeholder {
  color: #868687;
}
#footer .contact input[type="text"]::-webkit-input-placeholder,
#footer .contact textarea::-webkit-input-placeholder {
  color: #868687;
}
#footer .contact input[type="text"]:-ms-input-placeholder,
#footer .contact textarea:-ms-input-placeholder {
  color: #868687;
}
#footer .contact input[type="submit"] {
    background-color: #3e3e40;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}
#footer .contact input[type="submit"]:hover {
    background-color:#2190DB;
}
#footer .credits {
    border-top: 1px solid #343437;
    padding: 10px 0px 60px 0px;
}
#footer .credits .social {
    margin-top: 30px;
    text-align: center;
}
#footer .credits .social a {
    margin: 10px;
}
#footer .credits .copyright {
    color: #a6a6a7;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
}
#footer .credits .social a {
    margin: 10px;
}
#footer .credits .social a span{
    display: inline-block;
    width: 33px;
    height: 33px;
}
#footer .credits .social span.ico1,
#footer .credits .social span.ico1h{
    background-position: 0px 0px;
}
#footer .credits .social span.ico2,
#footer .credits .social span.ico2h{
    background-position: -37px 0px;
}
#footer .credits .social span.ico3,
#footer .credits .social span.ico3h{
    background-position: -75px 0px;
}
#footer .credits .social span.ico4,
#footer .credits .social span.ico4h{
    background-position: -112px -1px;
}
#footer .credits .social span.ico5,
#footer .credits .social span.ico5h{
    background-position: -151px 0px;
}
#footer .credits .social span.ico6,
#footer .credits .social span.ico6h{
    background-position: -188px -1px;
}
#footer .credits .social span.ico7,
#footer .credits .social span.ico7h{
    background-position: -226px 0px;
}
#footer .credits .social a:hover span.socialicons{
    display: none;
}
#footer .credits .social a:hover span.socialicons_h{
    display: inline-block !important;
}
#footer .credits .social span.socialicons_h{
    display: none;
}
.socialicons{
    background: url('../img/socialicons.png') no-repeat;
    width: 265px;
    height: 36px;
}
.socialicons_h{
    background: url('../img/socialicons_h.png') no-repeat;
    width: 265px;
    height: 36px;
}

/*Inner Footer*/
#footer .info{
    margin-bottom: 10px;
    margin-left: 0;
}
#footer .info .residence{
    margin-left: 0;
}
#footer .info ul{
    margin: 0;
    padding: 0;
}
#footer .info ul li{
    list-style: none;
    font-size: 16px;
    color: #777E83;
    line-height: 23px;
}
#footer .info ul a{
    color: #777E83;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}
#footer .info ul a:hover{
    color: #A9B4BB;
}
#footer .info .touch{
    float: right;
}
#footer .info .touch ul li{
    display: inline-block;
    margin-left: 30px;
}