<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner-dashboard">
		<div class="container-fluid">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href='/dashboard'>Scratch CMS</a>
			<div class="nav-collapse collapse">
				<p class="navbar-text pull-right">
					<% if signed_in? %>
						Logged in as <%= current_user.name %>
					<% end %>
				</p>
				<ul class="nav pull-right">
					<li class="inactive">
						<% if signed_in? %>
						<%= link_to "Sign Out", logout_path, method: :delete %>
						<% end %>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>
