<div class="container marketing">
  <footer>
    <p class="pull-left">
        <a href="#">Back to top</a>
    </p>
    <p class="pull-right">
        © 2013 Yo Mama · All rights reserved.
    </p>
  </footer>
</div>