<% if yield(:mode) == 'management' %>

	<footer id="footer-container" class="footer navbar navbar-fixed-bottom">

		<table>
			<tr>
				<td class="cell-left" rowspan="2">
					&nbsp;&nbsp; <%= link_to image_tag('ScratchCMS.png', alt: 'Scratch CMS', height: 25, width: 112), 'http://scratch-cms.herokuapp.com' %>
				</td>

			</tr>
			<tr>
				<td class="cell-right">
					<span class="copyright-text">
						Copyright &#169; 2013 Scratch CMS · All Rights Reserved.
					</span>
				</td>
			</tr>
		</table>

	</footer>

<% else %>
	<footer id="footer" class="footer">
        <div class="container">
            <div class="row info">
                <div class="span6 residence">
                    <ul>
                        <li>2301 East Lamar Blvd. Suite 140. City, Arlington.</li>
                        <li>United States, Zip Code TX 76006.</li>
                    </ul>
                </div>
                <div class="span5 touch">
                    <ul>
                        <li><strong>P.</strong> 1 817 274 2933</li>
                        <li><strong>E.</strong><a href="#"> bootstrap@twitter.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        insert Ruby powered, built from Scratch
                    </div>
                </div>  
                <div class="row copyright">
                    <div class="span12">
                        Copyright &#169; 2013 Scratch CMS. All rights reserved.
                    </div>
                </div> 
            </div>
        </div>

    </footer>
<% end %>