<% if yield(:mode) == 'management' %>
	<div class="container-fluid">
		<hr class="divider">
	  <footer>
	    <p class="pull-left">
	        <a href="#">Scratch CMS</a>
	    </p>
	    <p class="pull-right">
	        © 2013 Yo Mama · All rights reserved.
	    </p>
	  </footer>
	</div>
<% else %>
	<div class="container marketing">
		<hr class="divider">
	  <footer>
	    <p class="pull-left">
	        <a href="#">Back to top</a>
	    </p>
	    <p class="pull-right">
	        © 2013 Yo Mama · All rights reserved.
	    </p>
	  </footer>
	</div>
<% end %>
	